{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        "react-native-reanimated/plugin",
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "assets": "./assets",
            "components": "./components",
            "screens": "./screens",
            "icons": "./assets/icons"
          }
        }
      ]
    ]
  }